.dark {
    --bg-color: #303030;
    --bg2-color: #505050;
    --text-color: lightgray;
    --line-color: gray;
    --border-radius: 10px;
}

.light {
    --bg-color: white;
    --bg2-color: #c1c1c1;
    --text-color: black;
    --line-color: gray;
    --border-radius: 10px;
}

html, 
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

article {
    margin: 0 1em;
}

h1 {
    border-bottom: 2px dashed var(--line-color);
    padding: 0.5em;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 0.5em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--line-color);
    border-radius: var(--border-radius);
}

table th {
    text-align: left;
    min-width: 5em;
    border-left: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
}

table tr {
    transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;  
    -webkit-transition: background-color 1s linear; 
    -ms-transition: background-color 1s linear; 
}

table tr:first-child th:first-child {
    border-left: unset;
}

table tr:last-child td:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

table th:nth-child(2),
table td:nth-child(2) {
    text-align: center;
}

table th, 
table td {
    padding: 0.2em 0.5em;
}

table tr.desc {
    font-size: smaller;
    background-color: var(--bg2-color);
    border-bottom: 1px solid var(--line-color);
    padding-left: 1em;
}

table tr.changed {
    background-color: #ffa50050;
}

table td.pass {
    color: greenyellow;
}

table td.fail {
    color: red;
}

table tr .spacer {
    height: 1em;
}